<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<body class="bg-light">

    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
      <a class="navbar-brand" href="#">LDD TECH</a>
    </nav>

    <div class="nav-scroller bg-white box-shadow">
      <nav class="nav nav-underline">
        <a class="nav-link active" routerLink="/home">Dashboard</a>
        <a class="nav-link" routerLink="/post">
          Post
          <span class="badge badge-pill bg-light align-text-bottom">4</span>
        </a>
        <a class="nav-link" routerLink="/study">Education</a>
        <a class="nav-link" routerLink="/health">health</a>
        <a class="nav-link" routerLink="/realationship"></a>
        <a class="nav-link" routerLink="/technology">Technology</a>
        <a class="nav-link" routerLink="/grooming">Grooming</a>
        <a class="nav-link" routerLink="/social">Social Hits</a>
        <a class="nav-link" routerLink="/realationship">Relationship</a>
      </nav>
    </div>
